[Unit]
Description=NANA database backup
Wants=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/NANA
EnvironmentFile=/opt/NANA/deploy/env.production
ExecStart=/opt/NANA/deploy/scripts/backup_nana.sh
